$popper-background-color: rgba(#000, .9);

.tooltip {
  .tooltip-inner {
    background-color: $popper-background-color;
    box-sizing: border-box;
    color: #fff;
    min-width: 120px;
    max-width: 310px;
    padding: 6px 10px;
    border-radius: 3px;
    z-index: 100;
    box-shadow: 2px 2px 3px rgba(#000, 0.4);
  }

  .tooltip-arrow {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: .25rem;
  }

  &[x-placement^="top"] {
    margin-bottom: .25rem;

    .tooltip-arrow {
      border-width: .25rem .25rem 0 .25rem;
      border-color: $popper-background-color transparent transparent transparent;
      bottom: -.25rem;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: .25rem;

    .tooltip-arrow {
      border-width: 0 .25rem .25rem .25rem;
      border-color: transparent transparent $popper-background-color transparent;
      top: -.25rem;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: .25rem;

    .tooltip-arrow {
      border-width: .25rem .25rem .25rem 0;
      border-color: transparent $popper-background-color transparent transparent;
      left: -.25rem;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: .25rem;

    .tooltip-arrow {
      border-width: .25rem 0 .25rem .25rem;
      border-color: transparent transparent transparent $popper-background-color;
      right: -.25rem;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
