.tooltip {
  .tooltip-inner {
    z-index: 100;

    min-width: 5rem;
    max-width: 15rem;
    padding: .25rem .5rem;

    color: #fff;
    font-size: .9rem;

    background-color: $ly-color-grey-90;
    box-shadow: 1px 2px 3px $ly-color-grey-40;
    border-radius: .25rem;
  }

  .tooltip-arrow {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: .25rem;
  }

  &[x-placement^="top"] {
    margin-bottom: .25rem;

    .tooltip-arrow {
      border-width: .25rem .25rem 0 .25rem;
      border-color: $ly-color-grey-90 transparent transparent transparent;
      bottom: -.25rem;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: .25rem;

    .tooltip-arrow {
      border-width: 0 .25rem .25rem .25rem;
      border-color: transparent transparent $ly-color-grey-90 transparent;
      top: -.25rem;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: .25rem;

    .tooltip-arrow {
      border-width: .25rem .25rem .25rem 0;
      border-color: transparent $ly-color-grey-90 transparent transparent;
      left: -.25rem;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: .25rem;

    .tooltip-arrow {
      border-width: .25rem 0 .25rem .25rem;
      border-color: transparent transparent transparent $ly-color-grey-90;
      right: -.25rem;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
