a {
  color: $ly-color-pine-80;

  &:hover,
  &:focus {
    color: $ly-color-pine-90;
    text-decoration: none;
  }
}

.text-on-dark a {
  color: $ly-color-white;

  &:hover,
  &:focus {
    color: $ly-color-grey-30;
  }
}
