@import 'variables/index';

@import 'forms';
@import 'grid';
@import 'links';
@import 'typography';

@import 'components/vue_tooltip';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  background-color: $ly-color-pine-60;
}

body.modal-opened {
  overflow: hidden;
}

img {
  height: auto;
  max-width: 100%;
}

hr {
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;

  border: 0;
  border-radius: .25rem;
  box-shadow: 0 0 0 1px $ly-color-grey-30;
}

code {
  padding: .1rem .25rem;

  font-size: .9em;

  background-color: $ly-color-grey-30;
  border-radius: .25rem;
}
.text-on-dark code {
  background-color: $ly-color-grey-70;
}

table {
  width: 100%;
  margin-bottom: 1rem;

  border-collapse: collapse;

  th {
    padding: .25rem .5rem;

    font-size: .9rem;
    text-align: left;
    font-weight: bold;

    background-color: $ly-color-grey-30;
  }

  tr:nth-child(odd) {
    background-color: $ly-color-grey-20;
  }

  td {
    padding: .5rem;
  }
}

@media(max-width: $small-screen-width) {
  .no-mobile {
    display: none;
  }
}
