@import 'components/vue_directive_tooltip';

@import 'variables/colors';
@import 'variables/dimensions';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;

  background-color: #fafafa;
}

a {
  color: $color-primary;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  height: auto;
  max-width: 100%;
}

h1 {
  margin-top: 0;
}
